.search {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: "Roboto";
     
    &__search {
        width: 100%;
        padding: 14px 40px 14px 14px;
        border: 1px solid rgb(0, 87, 184);
        font-size: 14px;
        color: rgb(75, 75, 77);

        &:focus,
        &:active {
            outline: none;
        }
          

        &-container {
            background: white;
            padding: 14px 18px 8px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
        }

        &-block {
            position: relative;
            width: 100%;
            margin-top: 14px;

            &::before {
                content: url('./../img/icons/magn-glass.png');
                position: absolute;
                top: 10px;
                right: 12px;
            }
        }
    }

    &__message {
        position: relative;
        padding: 18px;
        background: rgba($color: white, $alpha: 0.9);
        
        &-text {
            font-size: 12px;
            line-height: 16px;
        }


        &-block {
            margin-top: 16px;
            display: flex;
            justify-content: space-evenly;
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px 16px;
            background: none;
            outline: none;
            border: none;
            text-align: center;
            min-width: 140px;
            cursor: pointer;
        }

        &-close {
            border: 1px solid rgb(173, 174, 177);
            color: #adaeb1;
        }
         
        &-show {
            background: #005bbf;
            color: white;
        }
    }

    &__history {
        background: white;
        padding: 14px 18px;

        &-header {
            display: flex;
            justify-content: space-between;
            color: #d1d1d2;
        }

        &-title {
            font-size: 14px;
        }

        &-clear {
            font-size: 12px;
            border: none;
            outline: none;
            background: none;
            padding: 0;
            color: #d1d1d2;
            cursor: pointer;
            text-decoration: underline;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            margin-top: 14px;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & + & {
                margin-top: 14px;
            }
        }

        &-text {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 14px;

            &::before {
                content: url('./../img/icons/history.png');
                margin-right: 9px;
            }
        }

        &-close {
            cursor: pointer;
        }
    }

    &__filter {
        position: relative;
        border-top: 1px solid rgb(199, 239, 242);
        border-bottom: 1px solid rgb(199, 239, 242);
        background: rgba(237, 250, 251, 0.95);
        padding: 14px 18px;
        
        &-center {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
        }

        &-icon {
            margin-right: 10px;
        }

        &-title {
            font-size: 16px;
            color: #1fbeca;
        }

        &-open {
            margin-left: auto;
            width: 20px;
            cursor: pointer;
        }
    }

    &__result {
        background: white;
        padding: 14px 18px;

        &-text {
            font-size: 16px;
        }
    }
}