.handle {
    @import './preview';
    height: 100%;
    width: 100%;
    overflow: auto;

    &__container {
        width: fit-content;
        height: 100%;
        // max-width: 1920px;
        min-width: 1280px;
        min-height: 720px;
        // width: 100%;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        aspect-ratio: 16/9;
        max-height: 100vh;

        &--lock {
            pointer-events: none;
        }

        &--zoom-cursor {
            cursor: crosshair;
        }
    }

    &__left,
    &__right,
    &__middle {
        position: absolute;
        top: 0;
        z-index: 4;
        transition: all 0.3s ease;
    }

    &__left {
        left: 0;
        display: flex;
        z-index: 5;

        &-list {
            padding-top: 7px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }

        &-item {
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }

    &__filter {
        &-block {
            display: flex;
            position: relative;
            height: 100%;
            padding: 14px 20px;
            margin-left: 7px;
            background: white;
            column-gap: 18px;
            align-items: center;
            transition: all 0.3s ease;
        }

        &-icon {
            display: flex;
            position: relative;
        }
    }

    &__background {
        position: relative;
        transition: all 0.2s linear;
        height: 100%;
        pointer-events: none;
        overflow: hidden;

        &--hide {
            opacity: 0;
        }

        &-img {
            display: block;
            max-width: 100vw;
            max-height: 100vh;
            min-width: 1280px;
            min-height: 720px;
            user-select: none;
        }

        &-image {
            z-index: 1;

            &:not(.handle__background-image--main) {
                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    pointer-events: none;
                    transition: opacity 0.3s ease;
                }
            }

            &--hide {
                img {
                    opacity: 0;
                }
            }

            &--main {
                z-index: 0;
            }

            &--2 {
                z-index: 1;

                img {
                    z-index: 2;
                }
            }

            &--3 {
                z-index: 2;

                img {
                    z-index: 3;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0);
            transition: all 0.3s ease;
        }

        &--blur {
            filter: blur(7px);

            &::before {
                background: rgba($color: #000000, $alpha: 0.6);
                z-index: 5;
            }
        }
    }

    &__middle {
        left: 50%;
        transform: translateX(-50%);

        &-container {
            display: flex;
        }

        &-header {
            display: flex;
            align-items: center;
            padding: 5px;
            background: black;
        }

        &-item {
            display: flex;
            position: relative;
            align-items: center;
            padding: 12px 20px;
            background: white;
            column-gap: 12px;
            transition: all 0.3s ease;

            &:not(:last-child) {
                border-right: 1px solid rgb(183, 184, 187);
            }

            &--column {
                flex-direction: column;
                align-items: inherit;
                row-gap: 14px;
            }
        }
        
        &-block {
            display: flex;
            position: relative;
            align-items: center;
            column-gap: 10px;

            &--column {
                flex-direction: column;
                align-items: flex-start;
            }

            &--align-start {
                align-items: flex-start;
                height: 100%;
            }

            &--height-100 {
                height: 100%;
            }

            &--mt-auto {
                margin-top: auto;
            }
        }

        &-text {
            display: block;
            color: black;
            font-size: 14px;
            font-weight: 500;

            &--10 {
                font-size: 10px;
            }

            &--11 {
                font-size: 11px;
            }

            &--white {
                color: white;
            }

            &--grey {
                color: grey;
            }

            & + & {
                margin-top: 5px;
            }
              
            &--vertical {
                display: block;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(-180deg);
            }
        }

        &-arrow {
            display: flex;
            justify-content: center;
            width: 100%;
            // margin-top: 10px;
        }

        &-icon {
            display: flex;
            position: relative;
        }
    }

    &__style {
        position: absolute;
        top: 100%;
        left: 0;
        font-family: 'Roboto', sans-serif;
        width: max-content;
        border-top: 2px solid #1fbeca;
        transition: opacity 0.3s ease;
        pointer-events: none;
        cursor: default;
        // height: 0;
        // width: 0;
        opacity: 0;

        &--right {
            top: 0;
            left: inherit;
            right: 0;
            transform: translateX(100%);
            z-index: 2;
            border-top: none;
        }

        &--left {
            top: 0;
            left: 0;
            transform: translateX(-100%);
            border-top: none;
        }

        &--active {
            // width: inherit;
            // height: inherit;
            pointer-events: all;
            opacity: 1;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 20px;
            column-gap: 20px;
            background: white;
            border-bottom: 1px solid #d8dcde;
        }

        &-title {
            font-size: 16px;
            color: #4b4b4d;
            font-weight: 500;
        }

        &-content {
            display: flex;
            // justify-content: space-between;
            column-gap: 20px;
            padding: 14px 20px;
            background: rgba($color: #eeefee, $alpha: 0.9);
        }

        &-item {
            padding: 5px 10px;
            outline: 1px solid transparent;
            line-height: 1;
            cursor: pointer;
            transition: all 0.3s ease;

            &.handle__option--active {
                color: #1fbeca;
                outline: 1px solid #1fbeca;
            }

            &:hover {
                color: #1fbeca;
            }
        }

        &-text {
            text-transform: uppercase;
            line-height: 1;
            font-size: 14px;
            font-weight: 500;
        }

        &-close {
            display: flex;
            cursor: pointer;
        }
    }

    &-style {
        cursor: pointer;

        &__middle {
            display: flex;

            &:not(:last-child) {
                border-right: 4px solid black;
            }
        }
    }

    &__color {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &-upper {
            position: absolute;
            height: 15px;
            top: 0;
            left: 0;
            border-radius: 30px 30px 0 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 0 1px #1fbeca;
        }
    }

    &__right {
        right: 0;

        &-list {
            display: flex;
        }

        &-item {
            display: flex;
            position: relative;
            align-items: center;
            padding: 12px 20px;
            background: white!important;
            column-gap: 12px;
            transition: all 0.3s ease;
            opacity: 0.9;
            color: #cccfd1;
              
            path {
                fill: rgb(200, 203, 205);
            }

            &.handle__icon--clicked,
            &:hover {
                opacity: 1;
                color: black;

                path {
                    fill: black;
                }
            }

            .handle__icon-big {
                display: none!important;
            }

            &:not(:last-child) {
                border-right: 1px solid rgb(183, 184, 187);
            }
        }

        &-text {
            display: block;
            font-size: 14px;
            font-weight: 500;
        }

        &-icon {
            display: flex;
            position: relative;
        }
    }

    &__change {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        z-index: 3;
        cursor: pointer;
        background-color: white;
        transition: all 0.3s ease;
        transform: translateY(-50%);

        &--hide {
            opacity: 0;
            pointer-events: none;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__next {
        right: 0;
    }

    &__prev {
        left: 0;

        svg {
            transform: rotate(180deg);
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        width: 55px;
        height: 52px;
        transition: all 0.3s ease;

        &--hover {
            .handle__icon-main path{
                transition: all .3s ease;
            }
    
            &:hover {
                .handle__icon-main path {
                    fill: rgb(0, 91, 191);
                }
            }
        }

        &-big {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            z-index: 0;
            transition: all 0.3s ease;
            background: transparent;
        }

        &-main {
            z-index: 1;
        }

        &--alt {
            display: none;
            opacity: 0;
        }

        &--clicked {
            background: #1fbeca;

            .handle__icon-big {
                background: #8fdfe5;
            }
        }

        &--active {
            display: none;
        }

        &--active.handle__icon--alt {
            display: flex;
            opacity: 1;
        }

        &-text {
            font-size: 14px;
            font-weight: 500;
        }

        &-number {
            position: absolute;
            top: 3px;
            right: 4px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            z-index: 2;
            background: rgb(232, 83, 90);
        }

        &-quantity {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'PT Sans', sans-serif;
            font-size: 11px;
            color: white;
        }
    }

    &__facade {
        display: flex;
        max-width: 400px;
        flex-wrap: wrap;
        gap: 12px;

        &-item {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            row-gap: 6px;

            &.handle__option--active, 
            &:hover {
                .handle__facade-block {
                    box-shadow: 0 0 0 1px rgb(31, 190, 202);
                }
            }

            &.handle__option--active {
                .handle__facade-text {
                    font-weight: bold;
                    color: #000;
                }
            }
        }

        &-block {
            display: grid;
            place-items: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            outline: 1px solid transparent;
            transition: all 0.3s ease;
        }

        &-circle {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
         
        &-text {
            font-size: 10px;
            text-align: center;
            color: #020a0a;
        }
    }

    &__zoom {
        margin: 0;
        transition: transform 0.3s ease;
        
        &--active {
            transform: scale(1.66);
        }
    }

    &__info {
        position: absolute;
        display: flex;
        row-gap: 10px;
        // column-gap: 20px;
        bottom: 0;
        left: 0;
        padding: 14px 12px;
        background: white;
        font-size: 14px;
        opacity: 0.7;
        z-index: 3;
        font-weight: 500;
        transition: all 0.3s ease;

        &--hide {
            opacity: 0;
        }

        &:hover {
            opacity: 1;
        }

        &-item {
            display: flex;
            align-items: center;
            column-gap: 10px;

            & + & {
                &::before {
                    content: '/';
                    padding: 0 10px;
                }
            }
        }

        &-title {
            color: #4b4b4d;
        }

        &-text {
            font-size: 12px;
        }

        &-color {
            position: relative;
            width: 16px;
            height: 16px;
            margin: 0 10px;
            border-radius: 50%;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                box-shadow: 0 0 0 1px #1fbeca;
            }
        }
    }

    &-zoom {
        svg path {
            transition: all 0.3s ease;
        }

        &--active {
            svg path {
                d: path('M 28.495 27.485 L 26.488 29.492 C 26.128 29.852 25.658 30.32 25.192 30.32 C 24.744 30.32 24.3 29.865 23.963 29.529 L 15.245 20.81 C 13.892 21.419 12.398 21.765 10.821 21.765 C 4.854 21.765 0 16.911 0 10.943 C 0 4.976 4.854 0.121 10.821 0.121 C 16.788 0.121 21.643 4.976 21.643 10.943 C 21.643 12.981 21.66 14.882 20.83 16.512 L 28.532 24.96 C 29.217 25.646 29.201 26.779 28.495 27.485 Z M 10.821 2.41 C 5.912 2.41 1.919 6.35 1.919 10.943 C 1.919 15.852 5.912 19.846 10.821 19.846 C 15.73 19.846 19.724 15.852 19.724 10.943 C 19.724 6.35 15.73 2.41 10.821 2.41 Z M 18.936 18.79 C 18.356 18.738 17.702 19.328 16.98 19.831 L 18.321 21.172 L 20.175 19.318 L 18.936 18.79 Z M 21.533 20.676 L 19.679 22.529 L 25.207 28.58 L 27.61 26.204 L 21.533 20.676 Z M 14.93 11.91 L 11.765 11.91 L 9.846 11.91 L 6.682 11.91 C 6.152 11.91 5.722 11.48 5.722 10.95 C 5.722 10.42 6.152 9.99 6.682 9.99 L 9.846 9.99 L 11.765 9.99 L 14.93 9.99 C 15.46 9.99 15.889 10.42 15.889 10.95 C 15.889 11.48 15.46 11.91 14.93 11.91 Z');
            }
        }
    }

    &__full {
        &-block {
            // margin-top: 7px;
            margin-left: 40px;
            padding: 16px 12px;
            height: 100%;
            cursor: pointer;
        }
    }

    // sections
    
    // extra

    &--events-lock {
        pointer-events: none;
    }

    &--hide {
        opacity: 0;
        pointer-events: none;
    }
}